body{
  max-width: 100%;
}
video {
  min-width: 30%;
  min-height: 30%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  z-index: 1;
}
a{
  text-decoration: none;
  color: black;
  padding: 2px;
}
h1{
  font-size: 8vh;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  position: sticky;
  bottom: 0;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 10px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: #111;
  text-decoration: none;
  color: white;
}

.nav_colour{
  background-color: #1f4068;
  color: #1f4068;
}
.text_shadow_white{
  text-shadow: 2px 2px 4px #000000;
}
.text_shadow_black{
  text-shadow: 2px 2px 4px #ffffff;
}
.left_text{
  width: 40%;
  text-align: center;
  position: relative;
  padding: 10px;
  top: 25%;
  left: 2%;
}
.right_text{
  width: 40%;
  text-align: center;
  position: relative;
  padding: 10px;
  top: 25%;
  left: 60%;
}
#nav{
  position: sticky;
  width: 100%;
  z-index: 200;
}
#welcome_div{
  width: 100%;
  text-align: center;
  position: absolute;
  padding: 10px;
  z-index: 100;
  top: 30%;
  left: 2%;
  /*background-color: #07031a;*/
}
#main_links{
  width: 40%;
  height: auto;
  position: absolute;
  top: 50%;
  left: 0%;
  z-index: 10;
}
#video_div{
  width: 100%;
  max-width: 100%;
  height: auto;
  /*margin: 0 auto;*/
  top: 50%;
  position: absolute;
}
#div1{
  width: 100%;
  height: 90%;
  max-height: 100%;
  overflow: hidden;
  background-image: url('contact_us.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: right bottom;
  background-size: 65% 100%;
  /*background-color: #ff6464;*/
}
#div2{
  width: 100%;
  height: 100%;
  max-height: 90%;
  background-image: url('online_shopping_2.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: left bottom;
  background-size: 65% 100%;
  /*background-color: #27496d;*/
}
#div3{
  width: 100%;
  height: 90%;
  max-height: 90%;
  background-image: url('software_consultancy.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: right bottom;
  background-size: 65% 100%;
}
#div4{
  width: 100%;
  height: 90%;
  max-height: 90%;
  background-image: url('software_development.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: left bottom;
  background-size: 65% 100%;
}
#div5{
  width: 100%;
  height: 90%;
  max-height: 90%;
  background-image: url('shopping.jpg');
  background-size: contain;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: right bottom;
  background-size: 60% 100%;
}
