body{
  max-width: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
  position: relative;
}
h1{
  font-size: 8vh;
}
footer{
  position: relative;
  bottom: 0;
  width: 100%;
  height: 40%;
  background-color: #f0f5f9;
}
.text_shadow_white{
  text-shadow: 2px 2px 4px #000000;
}
.text_shadow_black{
  text-shadow: 2px 2px 4px #ffffff;
}
.left_text{
  width: 40%;
  text-align: center;
  position: relative;
  padding: 3px;
  top: 25%;
  left: 2%;

}
.right_text{
  width: 40%;
  text-align: center;
  position: relative;
  padding: 10px;
  top: 25%;
  left: 60%;
}
.background_style{
  width: 100%;
  height: 85%;
  max-height: 85%;
  background-size: contain;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: 65% 100%;
}
@keyframes topFadeOut {
  0% {
    position: absolute;
    top: -3rem;
    opacity: 0;
  }

  100% {
    position: absolute;
    top: 25%;
    opacity: 1;
  }

}
.first-text {
  animation-name: topFadeOut;
  animation-duration: 3s;
}
#main_links{
  padding: 5px;
}
#div1{
  overflow: hidden;
  background-image: url('bbt_main.jpg');
  background-position: right bottom;
  background-color: #fff4e1;
}
#div2{
  background-image: url('about_us_3.png');
  background-position: left bottom;
}
#div3{
  background-image: url('online_shopping_2.png');
  background-position: right bottom;
}
#div4{
  background-image: url('project_management.jpg');
  background-position: left bottom;
}
#div5{
  background-image: url('software_consultancy_2.jpg');
  background-position: right bottom;
}
#div6{
  background-image: url('software_development.png');
  background-position: left bottom;
}
#div7{
  background-image: url('shopping.jpg');
  background-position: right bottom;
}
#div8{
  background-image: url('contact_us.png');
  background-position: left bottom;
}
